/* main {
    background: url('../img/fundo\ pizza.jpg');
    background-position: center;
    background-size: cover;
} */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
    --vermelho-marrom: #5c0209;
    --vermelho-forte: #af0f1c;
    --vermelho-medio: #a12630;
    --vermelho-claro: #e99da6;
    --vermelho-claro-claro: #e6b0b8;
    --branco: #fcfbfb;
    --branco-cima: #e7e3e3;
    --font-titulo: "Baloo 2", serif;

}

.dApresenta {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    /* backdrop-filter: blur(5px); */
}

.dApresenta img {
    width: 50%;
}

.opcoes {
    background-color: var(--vermelho-claro);
    padding: 25px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Define duas colunas iguais */
    gap: 0.9rem;
    margin-bottom: 20px;
}



.opc {
    filter: drop-shadow(2px, 2px, 2px, var(--vermelho-forte));
    text-align: center;
    color: var(--vermelho-marrom);
    font-size: 12pt;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: solid 1px var(--vermelho-marrom);
}

/* #D3D3D3 ou #E0E0E0 */
#proximo {
    background-color:var(--vermelho-medio);
    color: var(--branco);
    filter: drop-shadow(2px 2px 3px var(--vermelho-marrom));
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: 700;
    border-radius: 20px;
    border: none;

}






/* css da segunda etapa -  css da segunda etapa -  css da segunda etapa -  css da segunda etapa - */

.opc22 {
    display: none;
}

.ol2 {
    background-color: var(--vermelho-claro);
    padding: 1rem;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Define duas colunas iguais */
    gap: 0.5rem;
}


/* modifiquei pra commit */
.opc2 {
    list-style: none;
    filter: drop-shadow(2px, 2px, 2px, var(--vermelho-forte));
    text-align: center;
    color: var(--vermelho-marrom);
    font-size: 12pt;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    border: solid 1px var(--vermelho-marrom);
}


#proximo2 {
    background-color: var(--vermelho-forte);
    color: var(--branco);
    filter: drop-shadow(2px 2px 3px var(--vermelho-marrom));
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: 700;
    border-radius: 20px;
    border: none;
}


/* ativa no js */
.clicou {
    background-color: var(--vermelho-medio);
}

.clicou2 {
    background-color: var(--vermelho-medio);
}




/* css da div final */
.divFinal {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0.9rem;
}


.exibePizza {
    background-color: var(--vermelho-claro);
    padding: 1.5rem;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    margin-bottom: 20px;
}

.divFinal h1 {
    font-family: var(--font-titulo);
    color: var(--branco);
    margin-bottom: 1rem;
}

.divFinal p {
    font-family: var(--font-titulo);
    color: var(--vermelho-marrom);
    font-weight: 600;
}


.divFinal h2 {
    font-family: var(--font-titulo);
    color: var(--branco);
}



.divFinal img {
    width: 50%;
}